:root {
  --main-font: 'Poppins', sans-serif;
  font-family: var(--main-font);
  color-scheme: light dark;
  color: rgba(151, 22, 22, 0.87);
  background-color: #ffffff;
  overflow-x: hidden;
}


  


body {
  margin: 0;
  min-width: 100wh;
  min-height: 100vh;
}



 Button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px ;
  font-size: 10px;
  font-weight: 500;
  font-family: inherit;
  background-color: #002F6D;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}  */
